@define-color foreground #F2F2F2;
@define-color background transparent;
@define-color accent #008DC9;
@define-color accent-muted #2da8db;
@define-color warning #E4EB17;
@define-color error #BE0D22;
@define-color border #008DC9;
